body {
  font-family: helvetica;
  background-color:#cec;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 40em;
  box-shadow: 0 0 5px #888;
  box-sizing: border-box;
  background-image: repeating-linear-gradient(
    180deg,
    #F9F9F9,
    #FFB9B9 1px,
    #F9F9F9 2px,
    #F9F9F9 1em
  );
}
form label {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-shadow: 0 0 5px #555;
  background-color: #FFF;
  margin: 1em 0;
}
form input[type="submit"] {
  align-self: flex-end;
  margin: 1em;
  border: 2px solid #555;
  padding: 1em 2em;
}


.existing-notes {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 40em;
  box-sizing: border-box;
}

.existing-notes div {
  padding: 1em;
  margin: 1em 0;
  background-color: #eeeeff;
  box-shadow: 0 0 5px #555;
}

.existing-notes span {
  height: 1em;
}
.existing-notes textarea {
  flex: 1;
  width: 100%;
  border-width: 0;
  background-color: transparent;
  resize: none;
}

div {
  padding: 5px;
}
label {
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 5px;
}
input {
  cursor: pointer;
}
.highlighted label {
  background-color: #fff;
}
